<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBBAP</title>
</head>

<%- include('./partials/head.ejs') %>

<body>
    <nav>
        <img id="logo" src="/public/Logo.png" alt="logo"><a href="#"></a>

        <ul>
            <li><a href="/">Home</li></a>
            <li><a href="/about">About</li></a>
            <li><a href="/contact">Contact</li></a>
            <li><a href="/history">History</li></a>
        </ul>  
    </nav>
    <section>
        <h1>ERROR</h1><br>
    <p>Er is helaas een fout opgetreden. </p><br>
    <div style="border-bottom: 1px solid black"></div><br>

    <ol>
        <strong>Foute ondernemingsnummers</strong><br><br>Kijk na of de ingegeven ondernemingsnummers correct zijn. Het is mogelijk dat de nummers correct zijn maar dat deze zich niet in de database bevinden.  In dit geval zal je ook deze foutmelding krijgen. U kan het testen de ondernemingsnummers die u kan terugvinden op de <a href="/">'home'</a> pagian. Deze zijn correct. <br><br></p><br>
        <strong>Slechte Verbinding</strong><br><br>Kijk na of u nog verbonden bent met het internet en of de connectie sterk is, als de connectie slecht is zal het te lang duren om informatie op te zoeken en zal u ook deze foutmelding krijgen. Probeer ook zeker eens de pagina te herladen. </p><br><br>
        <strong>Applicatie/Server Fout</strong><br><br>Mogelijks ligt de fout bij de applicatie en/of de server, in dit geval bieden wij graag onze excuses aan en vragen wij u om het later nog eens te proberen. Blijft u foutmeldingen krijgen, gelieve ons dan te contacteren.</p><br>
        
    </ol>
    <p>Hebt u nog vragen/opmerking over de applicatie of blijft er een fout optreden mag u contact opnemen via de <a href="contact">contact</a> pagina.</p>
    </section>
    

    <%- include('./partials/footer.ejs') %>
</body>
</html>